node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

logs/
*.log
*.log.*
debug.log
error.log

dist/
build/
.cache/
out/

jspm_packages/

.env
.env.*.local

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.DS_Store
Thumbs.db

.DS_Store
Icon?
Thumbs.db

*.tmp
*.temp
*.swp
*.bak
*.old
*.orig

uploads/
